<div>
  <hr>
  <p>message works!</p>
  <ng-content select="header"></ng-content>
  <ng-content></ng-content>
  <ng-content select=".content"></ng-content>
  <ng-content select="footer"></ng-content>

  <hr>
  <h1>内部模板使用</h1>
  <ng-container *ngTemplateOutlet="greet"></ng-container>
  <hr>
  <ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
  <hr>
  <ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
  <hr>
  <ng-template #greet><span>Hello</span></ng-template>
  <ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>
  <ng-template #svk let-person="localSk"><span>Ahoj {{person}}!</span></ng-template>

  <ng-content select="selector"></ng-content>
  <button *ngIf="text" (click)="clickBtn(123)">{{text}}</button>
</div>
